In [1]:
import unicodedata
import re
import math
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
credits_df = pd.read_csv('../data/clean/clean_credits.csv')
keywords_df = pd.read_csv('../data/clean/clean_keywords.csv')
movies_metadata_df = pd.read_csv('../data/clean/clean_movies_metadata.csv')

In [3]:
df=(credits_df.merge(movies_metadata_df,on='id')).merge(keywords_df,on='id')

In [4]:
df.head(n=3)

,Unnamed: 0_x,cast,id,director,Unnamed: 0_y,belongs_to_collection,budget,genres,original_language,popularity,...,runtime,status,title,vote_average,vote_count,release_year,profit,weighted_rating,Unnamed: 0,keywords
0,0,"['Tom Hanks', 'Tim Allen', 'Don Rickles']",862,John Lasseter,0,1,0.078947,"['Animation', 'Comedy', 'Family']",en,21.946943,...,81.0,Released,Toy Story,7.7,5415.0,1995.0,0.904090,7.684684,0,"['new toy', 'boy next door', 'toy comes to lif..."
1,1,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",8844,Joe Johnston,1,0,0.171053,"['Adventure', 'Fantasy', 'Family']",en,17.015540,...,104.0,Released,Jumanji,6.9,2413.0,1995.0,0.520519,6.877012,1,"['recluse', 'board game', 'new home', 'giant i..."
2,2,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret']",15602,Howard Deutch,2,1,NaN,"['Romance', 'Comedy']",en,11.712900,...,101.0,Released,Grumpier Old Men,6.5,92.0,1995.0,NaN,6.163983,2,"['fishing', 'best friend', 'duringcreditssting..."

In [5]:
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31641 entries, 0 to 31640
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cast                   30752 non-null  object
 1   id                     31641 non-null  int64
 2   director               31508 non-null  object
 3   belongs_to_collection  31641 non-null  int64
 4   budget                 7815 non-null   float64
 5   genres                 31641 non-null  object
 6   original_language      31641 non-null  object
 7   popularity             31641 non-null  float64
 8   production_companies   31641 non-null  object
 9   production_countries   31641 non-null  object
 10  release_date           31641 non-null  object
 11  revenue                6838 non-null   float64
 12  runtime                31641 non-null  float64
 13  status                 31641 non-null  object
 14  title                  31641 non-null  object
 15  vote_average           31641 non-null  float64
 16  vote_count             31641 non-null  float64
 17  release_year           31641 non-null  object
 18  profit                 5102 non-null   float64
 19  weighted_rating        31641 non-null  float64
 20  keywords               31641 non-null  object
dtypes: float64(8), int64(2), object(11)
memory usage: 5.3+ MB

In [6]:
training_df = df

In [7]:
training_df['status'].value_counts()

Released           31470
Rumored              101
Post Production       51
Planned               10
In Production          8
Canceled               1
Name: status, dtype: int64

In [8]:
training_df=training_df[training_df['status']=='Released']
training_df.drop('status', axis=1, inplace=True)

/home/taquan/Desktop/DHBK/20211/IntroToDS/code/venv/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
training_df=training_df[['title','cast','director','genres','keywords']]

In [10]:
training_df.head(n=3)

,title,cast,director,genres,keywords
0,Toy Story,"['Tom Hanks', 'Tim Allen', 'Don Rickles']",John Lasseter,"['Animation', 'Comedy', 'Family']","['new toy', 'boy next door', 'toy comes to lif..."
1,Jumanji,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",Joe Johnston,"['Adventure', 'Fantasy', 'Family']","['recluse', 'board game', 'new home', 'giant i..."
2,Grumpier Old Men,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret']",Howard Deutch,"['Romance', 'Comedy']","['fishing', 'best friend', 'duringcreditssting..."

In [11]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31470 entries, 0 to 31640
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     31470 non-null  object
 1   cast      30594 non-null  object
 2   director  31338 non-null  object
 3   genres    31470 non-null  object
 4   keywords  31470 non-null  object
dtypes: object(5)
memory usage: 1.4+ MB

In [12]:
training_df.isnull().sum()

title         0
cast        876
director    132
genres        0
keywords      0
dtype: int64

In [13]:
training_df.dropna(inplace=True)

In [14]:
training_df.isnull().sum()

title       0
cast        0
director    0
genres      0
keywords    0
dtype: int64

In [15]:
training_df[training_df['title'].str.find('Wife') != -1]

,title,cast,director,genres,keywords
712,Wife,"['Mieko Takamine', 'Ken Uehara', 'Rentarô Miku...",Mikio Naruse,['Drama'],"['based on novel', 'wife', 'marriage', 'unhapp..."
713,Wife,"['Mieko Takamine', 'Ken Uehara', 'Rentarô Miku...",Mikio Naruse,['Drama'],"['based on novel', 'wife', 'marriage', 'unhapp..."
714,Wife,"['Mieko Takamine', 'Ken Uehara', 'Rentarô Miku...",Mikio Naruse,['Drama'],"['based on novel', 'wife', 'marriage', 'unhapp..."
715,Wife,"['Mieko Takamine', 'Ken Uehara', 'Rentarô Miku...",Mikio Naruse,['Drama'],"['based on novel', 'wife', 'marriage', 'unhapp..."
716,Wife,"['Mieko Takamine', 'Ken Uehara', 'Rentarô Miku...",Mikio Naruse,['Drama'],"['based on novel', 'wife', 'marriage', 'unhapp..."
717,Wife,"['Mieko Takamine', 'Ken Uehara', 'Rentarô Miku...",Mikio Naruse,['Drama'],"['based on novel', 'wife', 'marriage', 'unhapp..."
718,Wife,"['Mieko Takamine', 'Ken Uehara', 'Rentarô Miku...",Mikio Naruse,['Drama'],"['based on novel', 'wife', 'marriage', 'unhapp..."
719,Wife,"['Mieko Takamine', 'Ken Uehara', 'Rentarô Miku...",Mikio Naruse,['Drama'],"['based on novel', 'wife', 'marriage', 'unhapp..."
841,The Rich Man's Wife,"['Clive Owen', 'Halle Berry', 'Peter Greene']",Amy Holden Jones,"['Drama', 'Thriller']","['surprise', 'rich', 'stranger', 'fantasy', 'm..."
986,"The Cook, the Thief, His Wife & Her Lover","['Richard Bohringer', 'Michael Gambon', 'Helen...",Peter Greenaway,"['Crime', 'Drama']","['cook', 'cooking', 'restaurant', 'crime boss']"
1160,The Preacher's Wife,"['Denzel Washington', 'Whitney Houston', 'Cour...",Penny Marshall,"['Fantasy', 'Drama', 'Comedy']","['church choir', 'gospel', 'reverend', 'crisis..."
1865,The Farmer's Wife,"['James Cartwright', 'Geraldine James', 'Alex ...",Francis Lee,['Drama'],['short']
1898,The Butcher's Wife,"['Demi Moore', 'Jeff Daniels', 'George Dzundza']",Terry Hughes,"['Fantasy', 'Comedy', 'Science Fiction']","['butcher', 'love', 'husband']"
2405,The Astronaut's Wife,"['Johnny Depp', 'Charlize Theron', 'Joe Morton']",Rand Ravich,"['Drama', 'Science Fiction', 'Thriller']","['mission', 'astronaut', 'space travel', 'spac..."
3560,The Bishop's Wife,"['Cary Grant', 'Loretta Young', 'David Niven']",Henry Koster,"['Comedy', 'Drama', 'Fantasy']","['holiday', 'bishop', 'christmas time']"
5226,The Unfaithful Wife,"['Stéphane Audran', 'Michel Bouquet', 'Maurice...",Claude Chabrol,"['Drama', 'Thriller']","['paris', 'wife husband relationship', 'deceiv..."
5750,Indiscretion of an American Wife,"['Jennifer Jones', 'Montgomery Clift', 'Gino C...",Vittorio De Sica,"['Drama', 'Romance']","['train', 'extramarital affair']"
6966,My Favorite Wife,"['Cary Grant', 'Randolph Scott', 'Irene Dunne']",Garson Kanin,"['Comedy', 'Romance']","['presumed dead', 'deserted island', 'shipwrec..."
7291,Wife vs. Secretary,"['Clark Gable', 'Jean Harlow', 'Myrna Loy']",Clarence Brown,"['Comedy', 'Drama', 'Romance']","['wife', 'magazine', 'secretary', 'business tr..."
8083,My Wife Is a Gangster,"['Shin Eun-Kyung', 'Ahn Jae-mo', 'Park Sang-my...",Cho Jin-Gyu,"['Action', 'Comedy']","['yakuza', 'marriage']"
9430,My Brother's Wife,"['Bárbara Mori', 'Manolo Cardona', 'Christian ...",Ricardo de Montreuil,"['Romance', 'Drama']","['sex scandal', 'profanity', 'pregnant', 'swim..."
11944,The Time Traveler's Wife,"['Eric Bana', 'Rachel McAdams', 'Michelle Nold...",Robert Schwentke,"['Drama', 'Romance', 'Fantasy']","['complication', 'time traveler', 'time', 'tra..."
12240,The Doctor Takes a Wife,"['Loretta Young', 'Ray Milland', 'Edmund Gwenn']",Alexander Hall,['Comedy'],"['stubbornness', 'best selling author']"
12980,Dream Wife,"['Cary Grant', 'Deborah Kerr', 'Walter Pidgeon']",Sidney Sheldon,"['Comedy', 'Romance']","['marriage', 'business tycoon']"
13379,Wife! Be Like a Rose!,"['Sachiko Chiba', 'Yuriko Hanabusa', 'Toshiko ...",Mikio Naruse,['Drama'],"['haiku', 'small village', 'geisha', 'tokyo ja..."
13831,Craig's Wife,"['Rosalind Russell', 'John Boles', 'Jane Darwe...",Dorothy Arzner,['Drama'],"['marital discord', 'domineering wife', 'mispl..."
13999,Trophy Wife,"['Catherine Deneuve', 'Gérard Depardieu', 'Fab...",François Ozon,['Comedy'],"['congress', 'feminism', 'business man']"
15256,Father Takes a Wife,"['Adolphe Menjou', 'Gloria Swanson', 'John How...",Jack Hively,"['Comedy', 'Romance']",['marriage']
16181,100 Ways to Murder Your Wife,"['Chow Yun-fat', 'Anita Mui', 'Joey Wong']",Kenny Bee,"['Romance', 'Comedy']",['slapstick']
16410,"Not With My Wife, You Don't!","['Tony Curtis', 'Virna Lisi', 'George C. Scott']",Norman Panama,['Comedy'],['pilot']
18633,The Nazi Officer's Wife,"['Edith Hahn Beer', 'Julia Ormond', 'Susan Sar...",Liz Garbus,['Documentary'],['woman director']
19911,Let's Kill Ward's Wife,"['Patrick Wilson', 'Scott Foley', 'Amy Acker']",Scott Foley,['Comedy'],"['wife murder', 'murder plot']"
20864,Sea Wife,"['Richard Burton', 'Joan Collins', 'Basil Sydn...",Bob McNaught,"['Drama', 'Romance']",['shipwreck']
21766,"My Wife, A Body to Love","['Silvano Tranquilli', 'Antonella Murgia', 'Pe...",Mario Imperoli,['Drama'],['nymphomaniac']
21830,My Teacher's Wife,"['Jason London', 'Tia Carrere', 'Alexondra Lee']",Bruce Leddy,"['Comedy', 'Romance']","['test', 'teacher', 'student', 'tutor', 'high ..."
22803,Don't Tell the Wife,"['Guy Kibbee', 'Una Merkel', 'Lynne Overman']",Christy Cabanne,['Comedy'],"['gold', 'con artist', 'criminal rehabilitation']"
23293,The Perfect Wife,"['Perry King', 'Shannon Sturges', 'Lesley-Anne...",Don E. FauntLeRoy,"['Drama', 'Thriller']","['revenge', 'relationship', 'death by accident..."
23806,Guest Wife,"['Claudette Colbert', 'Don Ameche', 'Dick Foran']",Sam Wood,"['Comedy', 'Romance']","['small town', 'trip', 'war correspondent', 'b..."
24585,The Most Beautiful Wife,"['Ornella Muti', 'Alessio Orano', 'Tano Cimaro...",Damiano Damiani,"['Crime', 'Drama']","['rape', 'marriage', 'mafia']"
24622,The Priest's Wife,"['Sophia Loren', 'Marcello Mastroianni', 'Vena...",Dino Risi,"['Drama', 'Comedy']","['celibacy', 'catholic priest', 'vatican', 'su..."
26719,Benjamín's Wife,"['Malena Doria', 'Juan Carlos Colombo', 'Eduar...",Carlos Carrera,['Comedy'],"['comedy of manners', 'centro de capacitación ..."
27154,The Office Wife,"['Dorothy Mackaill', 'Lewis Stone', 'Natalie M...",Lloyd Bacon,"['Drama', 'Romance']","['philadelphia', 'beach', 'secretary', 'publis..."
27529,A Boyfriend for My Wife,"['Valeria Bertuccelli', 'Gabriel Goity', 'Adri...",Juan Taratuto,"['Romance', 'Comedy', 'Drama']","['wife', 'divorce', 'boyfriend', 'husband']"
30099,A Good Wife,"['Mirjana Karanović', 'Boris Isaković', 'Marko...",Mirjana Karanović,['Drama'],"['war', 'fiction', 'woman director']"
30498,The Zookeeper's Wife,"['Jessica Chastain', 'Johan Heldenbergh', 'Dan...",Niki Caro,"['Drama', 'History']","['zookeeper', 'poland', 'holocaust', 'jewish',..."

In [16]:
training_df.drop_duplicates("title", inplace=True)
training_df = training_df.reset_index()

In [17]:
def clean_data(value):
    value =  unicodedata.normalize('NFD', value).encode('ascii', 'ignore').decode('ascii')
    x= str.lower(re.sub(r"[^a-zA-Z0-9]+", '_', value.strip().replace(" ","_")))
    if(x!='_'):
        return x 
    else:
        return " "

In [18]:
training_df['director'] = training_df['director'].apply(lambda x: clean_data(x))
training_df['cast'] = training_df['cast'].apply(lambda x : [clean_data(i) for i in literal_eval(x)])
training_df['genres'] = training_df['genres'].apply(lambda x : [clean_data(i) for i in literal_eval(x)])
training_df['keywords'] = training_df['keywords'].apply(lambda x : [clean_data(i) for i in literal_eval(x)])

In [19]:
training_df.head(n=3)

,index,title,cast,director,genres,keywords
0,0,Toy Story,"[tom_hanks, tim_allen, don_rickles]",john_lasseter,"[animation, comedy, family]","[new_toy, boy_next_door, toy_comes_to_life, to..."
1,1,Jumanji,"[robin_williams, jonathan_hyde, kirsten_dunst]",joe_johnston,"[adventure, fantasy, family]","[recluse, board_game, new_home, giant_insect, ..."
2,2,Grumpier Old Men,"[walter_matthau, jack_lemmon, ann_margret]",howard_deutch,"[romance, comedy]","[fishing, best_friend, duringcreditsstinger, o..."

In [20]:
training_df['bow']=training_df['cast']+training_df['keywords'] + training_df['genres']
training_df['bow']=training_df['bow'].apply(lambda x: ' '.join(x))+" "+training_df['director']

In [21]:
training_df["bow"].head(n=3)

0    tom_hanks tim_allen don_rickles new_toy boy_ne...
1    robin_williams jonathan_hyde kirsten_dunst rec...
2    walter_matthau jack_lemmon ann_margret fishing...
Name: bow, dtype: object

In [22]:
vectorizer = CountVectorizer(stop_words='english')
train_array = vectorizer.fit_transform(training_df['bow'])

In [23]:
cosine_sim = cosine_similarity(train_array, train_array)

In [24]:
training_df = training_df.reset_index()
indices = pd.Series(training_df.index, index=training_df['title'])
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
House of Horrors               28134
Shadow of the Blair Witch      28135
The Burkittsville 7            28136
Subdue                         28137
Century of Birthing            28138
Length: 28139, dtype: int64

In [25]:
def get_recommendations(title, cosine_sim= cosine_sim):
    if training_df[training_df['title'].str.find(title) != -1].shape[0] == 0:
        return "This film has not been in our database"
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return training_df['title'].iloc[movie_indices]

In [28]:
get_recommendations('Toy Story')

2578                                          Toy Story 2
18528                          Toy Story That Time Forgot
16312                                Toy Story of Terror!
19460                                               Anina
12248                                         Toy Story 3
18526                                     Partysaurus Rex
23920                                The Bear That Wasn't
27557                        Last Year's Snow Was Falling
9503                            The Ugly Duckling and Me!
4820                                   The Santa Clause 2
9142                                        Monster House
13572                                              Cars 2
4785          The Looney, Looney, Looney Bugs Bunny Movie
27836                                      Devil May Hare
10975          Kung Fu Panda: Secrets of the Furious Five
18350                         Scooby-Doo! Abracadabra-Doo
9175                                             Barnyard
1218                                      Jungle 2 Jungle
6244     Bon Voyage, Charlie Brown (and Don't Come Back!)
6915                            Christmas with the Kranks
9261                            A Boy Named Charlie Brown
18517                                  Garfield Gets Real
18518                                 Garfield's Fun Fest
19134                                       The Happy Elf
19541                                   Broom-Stick Bunny
19542                       A Flintstones Christmas Carol
19596                               Heathcliff: The Movie
20070                      Tom and Jerry: The Lost Dragon
20296               Lucky Luke: The Ballad of the Daltons
20706                 Barbie as The Princess & the Pauper
Name: title, dtype: object